.App {
  margin: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.pagelabel {
  flex: 1;
  font-size: 30px;
  margin-left: 20px;
}

.homeicon{
  margin-top: 25px;
  
}
.homeicon:hover{
  box-shadow: 0px 0px 25px black;
}

.usericon{
  margin-top: 25px;
  margin-right: 25px;
  justify-content: flex-end;
}

.optiontiles {
  display: flex;
  width: 100%;
  flex-direction: row;
}